<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="MainSetupProject" Language="1033" Version="1.0.0.0" Manufacturer="Test" UpgradeCode="c54b6bf1-7d36-499d-9ca7-13a7707887a3">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="MainSetupProject" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MainSetupProject" />
      </Directory>
    </Directory>
    
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
    </ComponentGroup>

    <UIRef Id="WixUI_SimpleWebAppInstall"/>
    
	</Product>  
</Wix>
